@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.footer {
    width: 100%;
    height: 200px;
    background-color : blue;
    display: flex;
    flex-direction: row;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.element{
    flex: 1;
}

.sticky-wrapper {
    position: relative;
    height: 3rem;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    box-shadow: 0px 4px 8px rgba(100, 72, 72, 0.15);
  }

  .menu-links {
    position: relative;
    margin: 25px;
    text-decoration: none; 
    color: #686868;
    font-size: 14px;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .menu-links:hover {
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    margin: 25px;
    text-decoration: none; 
    color: #777777;
    font-size: 14px;
    font-weight: bolder;
  }

  .menu-links:focus {
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    margin: 25px;
    text-decoration: none; 
    color: #777777;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid #777777;
    border-spacing: 50px;
  }

  .menu-links a:focus {
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    margin: 25px;
    text-decoration: none; 
    color: #777777;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid #777777;
    border-spacing: 50px;
  }
  
  

  .social-link { margin: 0px 15px 0px 15px; opacity: 0.5; }
  .social-link:hover { margin: 0px 15px 0px 15px; opacity: 0.7; }
  .social-box { display: block; float: right; margin: 2px 12px 0px 0px; }


  .slider{
    width:100%;
    height:400px;
    background: url("../assets/slide1_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0;} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0;} 
  to {opacity: 1;}
}

.widthy {width:960px; margin:auto;}
.banner-one {color: #004fb6; text-align: center; width: 100%; background-color:#ffffff; margin: 0px;}
.four-chapters {text-decoration: none; font-weight: bold; text-align: center; padding: 20px; margin: auto; display: flex; align-items: center; justify-content: space-between;}
.primary-titles {font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #606380; font-size: 20px; opacity: 0.5; }
.primary-titles:hover {font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #606380; font-size: 20px; opacity: 1; }
.mobile-logo { display:none; }


#pot {
  top: 310px;
  position: relative;
  animation: bigletters 20s 30;
  animation-direction: alternate;
}
@keyframes bigletters {
  0%   {left: -100%; top: 310px;}
  100% {left: 0%; top: 310px;}
  0%   {left: -100%; top: 310px;}
}

.bigLetters {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center; 
}

#pot {
  animation: none;
}

.banner-two {
  background-color: #ebf4f7;
  color: #222222;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-bottom: 20px;
}

.banner-three {
  /*background-color: #ffffff;*/
  background-image: url('../assets/illustration_bg.jpg');
  background-repeat: repeat;
  background-size: 100%;
  background-position: center top;
  color: #222222;
  margin-bottom: -25px;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.banner-footer {
  padding: 35px; 
  background-color: #2b2a2c;
  color: #afafaf;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.blocks {text-decoration: none; text-align: justify; padding: 0px 30px; margin: auto; display: flex; align-items: center; justify-content: space-between; }
.block { padding: 40px; }
.image { padding: 60px 40px 40px 40px; width: 310px; }
.subtitle { font-weight: lighter; font-size: 24px; color: #666b9f; }
.icons { margin-top: 25px; display: flex; align-items: center; justify-content: space-between; }

.handicon {
    height: 78px;
    width: 80px;
    animation: move 3s infinite ease-in-out;
 }
@keyframes move{
  0% {
    transform: scale(1,1);
}
50% {
    transform: scale(1.2,1.2);
}
100% {
    transform: scale(1,1);
}
}

.button {
  border: none;
  color: #ffffff; 
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: -15px 0px 30px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #7d91b3; 
  font-size: 18px;
  font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.button:hover {
  background-color: #3a5ba3;
  color: white;
}


.footer {font-size: 15px; color: #ffffff; width: 100%; background-color: #333333; margin: 0px; padding: 0px;}
.big-word {font-size: 22px; color: #666b9f; text-align: center; font-weight: lighter; letter-spacing: 1.5px; margin: 18px 0px 40px 0px; }
.five-columns { font-size: 15px; text-decoration: none; color: #ffffff; padding: 0px; margin: auto; display: flex; align-items: flex-start; justify-content: space-between; }
.footer-menu { font-size: 15px; padding: 0px 25px;}
.footer-bio { flex-basis: 50%; font-size: 14px; padding: 0px 15px; color: #cccccc; font-weight: lighter; }
.footer-link a { font-size: 15px; text-decoration: none; color: #cccccc;  line-height: 24px; }
.footer-link a:hover { text-decoration: none; color: white;}
.two-icons {margin: auto; display: flex; align-items: center; justify-content: space-between; text-align: center; }
.social-icon {width: 28px; padding: 12px 20px; margin: auto; opacity: 0.7; display: flex; align-items: center; justify-content: space-between;}
.social-icon:hover { opacity: 1; }
.contacting {padding: 20px 2px 0px 20px; font-size: 15px; opacity: 0.6;}
.copyright { margin-top: 55px; padding: 0px; font-size: 12px; text-align: center; }




/* ------- MEDIA QUERIES ------*/



@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {}


@media screen and (max-width: 960px) and (min-width: 871px) {
  .widthy {width:800px; margin:auto;}
  .banner-three {
    background-color: #ffffff;
    /*background-image: url('../assets/illustration_bg.jpg');*/
    background-repeat: repeat;
    background-size: 115%;
    background-position: center top;
    color: #222222;
    margin-bottom: -35px;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

@media screen and (max-width: 870px) and (min-width: 661px) {
  .social-box { display: block; float: right; margin: 52px 12px 0px 0px; background-color: #ffffff; padding: 12px 0px 12px 5px; margin: 42px 0px 0px 0px; }
  .widthy {width:660px; margin:auto;}
  .banner-three {
    background-color: #ffffff;
    background-image: url('../assets/illustration_bg.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    background-position: center top;
    color: #222222;
    margin-bottom: -19px;
    font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
}



/*
@media screen and (min-width: 361px) and (max-width: 375px) {
  .mobile-logo { display: inline; margin: -10px 0px 0px -5px; }
}

*/




/* GENERAL MOBILE */ 

@media screen and (max-width: 660px) {

    .sticky .sticky-inner { display: none; }
    .sticky-wrapper { display: none;}
    .mobile-logo { display: inline; }
    .container {align-items: center; display: block; margin-left: auto; margin-right: auto; padding: 15px; margin-top: 4px;}
    

    .widthy {width:375px; margin:auto;}
    .widthy-two {width:375px; margin:auto;}

    .slider {width:100%; background: url("../assets/slide1_bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

    .banner-one {color: #ffffff; text-align: center; width: 100%; background-color:#ffffff; margin: 0px;}
    .four-chapters {text-decoration: none; font-weight: bold; text-align: center; padding: 20px; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
    .chapter-group {display: flex; flex-direction: row; margin: auto;}
    .primary-titles {padding: 8px; font-size: 24px; font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #606380; opacity: 0.5; }
    .primary-titles:hover {padding: 8px; font-size: 24px; font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #606380; opacity: 1; }
    .bigLetters {margin-left: auto; margin-right: auto; display: flex; justify-content: center; text-align: center; padding-top: 305px;  }
    #pot {
      position: relative;
      animation: bigletters 10s 50;
      animation-direction: alternate;
      margin-left: 650px;
    }
    @keyframes bigletters {
      0%   {left: -250%; top: 0px;}
      100% {left: 10%; top: 0px;}
    }
    .blocks {text-decoration: none; text-align: left; padding: 20px; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: space-between; font-family: source_sans_prosemibold,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,arial,helvetica,sans-serif;}
    .block { padding: 0px 10px; font-size: 19px; }
    .image { display: none; width: 310px; margin-top: -40px; }
    .subtitle { font-size: 30px; color: #666b9f; }

    .banner-three {
      background-color: #ffffff;
      background-image: url('../assets/illustration_bg.jpg');
      background-repeat: repeat;
      background-size: auto 130%;
      background-position: center top;
      color: #222222;
      margin-bottom: -19px;
      font-family: "roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    .button {
      border: none;
      color: #ffffff; 
      padding: 14px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 5px 0px 30px 0px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #7d91b3; 
      font-size: 22px;
    }
    
    .button:hover {
      background-color: #3a5ba3;
      color: white;
    }

    .footer {color: #ffffff; width: 100%; background-color: #333333; margin: 0px; }
    .five-columns {text-decoration: none; color: #ffffff; font-weight: bold; padding: 0px; margin: 0px; display: flex; flex-direction: column; align-items: center; }
    .footer-link a {font-weight: bold; text-decoration: none; color: #cccccc;}
    .footer-link a:hover {font-weight: bold; text-decoration: none; color: white;}
    .two-icons {margin: auto; display: flex; align-items: center; justify-content: space-between;}
    .social-icon {width: 32px; padding: 12px 20px; margin: auto; display: flex; align-items: center; justify-content: space-between;}

  }


